//@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
//@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

#title {
  font-size: 18pt;
}

body {
  font: 11pt arial;
}

#senario {
  padding-top: 50pt;
}

#scenario-text {
  //font: normal 12pt "Ubuntu Mono";
  //font: normal 10pt Monaco;
  font: normal 12pt "Courier New";
}
